.bg-roxo {
    background-color: #7e459b;
}

nav a:hover {
    font-weight: 500 !important;
    
}

.imagem_carousel {
    object-fit: cover;
    object-position: 0 85%;
    height: 65vh;
}

.redes_sociais span {
    color:black;
}

.redes_sociais a:hover {
    text-decoration: none;
    color: #7e459b !important;
}

.redes_sociais i {
    color: #7e459b !important;
    font-size: 1.2rem;
}

.hab_roxo {
    background-color: #7e459b;
}

.habilidade i{
    font-size: 1.8rem;
}

.tamanho-card {
    width: 18rem;
}

.imagem-cards {
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.modal-cards {
    object-fit: cover;
    object-position: top;
    height: 100vh;
}

footer a:visited {
    color: #b070f0;
}

footer a:hover {
    text-decoration: none; 
}

.btn {
    background-color: #7e459b;
    border: none;
}